@font-face{
    font-family: vazir;
    src: url("../font/vazir/vazir-font-v16.1.0/Vazir.ttf");
}
*{
    font-family: vazir;
}
body{
    margin: 0px;
}
.header{
    height: 100px;
    
}
.main{
    height: 700px;
}
.footer{
    height: 300px;
}